---
import HeadingComponent from "../components/headingcomponent.astro";
import MainContent from "../components/maincontent.astro";
import FooterComponent from "../components/footercomponent.astro"
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/blob.webp" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Lyss</title>
    </head>
    <body>
        <HeadingComponent />
        <MainContent />
        <FooterComponent />
    </body>
</html>
