---
import HeadingComponent from "../components/headingcomponent.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/blob.webp" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Lyss</title>
    </head>
    <body>
        <HeadingComponent headingText="This is Lyss' Header" />
        <h1>Lyss</h1>
    </body>
</html>
