---
import HeadingComponent from "../components/headingcomponent.astro";
import MainContent from "../components/mainContent.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/blob.webp" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Lyss</title>
    </head>
    <body>

        <HeadingComponent/>

=======
        <HeadingComponent headingText="This is Lyss' Header" />
        <MainContent />
>>>>>>> 9e6bb4cad8903a4ce6460805058aabbd00655b0d
    </body>
</html>
