---
const headingText = Astro.props;
---
<style>
    h1 {
        background-color: gray;
        border-radius: 1em;
        margin: 2em;
        padding: 1em;
        text-align: center;
        border: solid black 3px;
    }
</style>

<h1>This is Lyss' Header</h1>
