---

---
<style>
    nav {
        background-color: grey;
        border-radius: 2em;
        margin: 2em;
        padding: 1em;
        border: solid black 3px;
    }

    .navbar {
        text-align: center;
    }
    .navbar a {
        margin-right: 2em;

    }


</style>
<header>
    <nav>
        <h1>This is Lyss' Header</h1>
        <div class="navbar">
            <a>home</a>
            <a>about</a>
            <a>writing</a>
            <a>blog</a>
        </div>
    </nav>
</header>
