---

---
<style>
    main {
        background-color: grey;
        margin: 2em;
        padding: 1em;
        border: solid black 3px;
        min-width: 20%;
        border-radius: 1em;
    }

    .container {
      display: grid;
      place-items: center;
      height: 100vh;
    }

</style>

<main id="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quo possimus at delectus consectetur asperiores iure, omnis vitae, dignissimos deleniti suscipit culpa expedita eligendi ipsa ullam voluptas repellat officiis optio.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ducimus tempora laboriosam. Enim expedita molestias hic dolore soluta, ullam laborum nemo eius distinctio possimus incidunt vero perferendis at assumenda alias!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi saepe aliquam, suscipit exercitationem sequi, provident architecto maxime sed esse recusandae, facilis beatae. Fugit error quia dignissimos eveniet, eligendi inventore sapiente.</p>
</main>
